@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");
@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");

body {
    zoom: 0.7;
    font-family: 'Wanted Sans Variable', 'Wanted Sans', 'Noto Sans KR', -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo', 'Malgun Gothic', 'Dotum', sans-serif;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

img {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    object-fit: contain;
}